@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #44414E;
    --secondary-color: #57B8FF;
    --accent1-color: #CBEFB6;
    --accent2-color: #D0FFCE;

    --heading-font: "Roboto Mono", monospace;
    --paragraph-font: "Roboto", sans-serif;

    --nav-background-color: #CBEFB6;
    --nav-link-color: #44414E;
    --nav-hover-link-color: #44414E;
    --nav-hover-background-color: #D0FFCE;
}

body, footer {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    margin: 0 auto;
}

header, section, footer {
    border: .25rem solid var(--primary-color);
    padding: .25rem;
    margin: 0 0 .7rem 0;
}

header {
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    padding: 20px;
    background-color: var(--secondary-color);
}

header img {
    border: .25rem solid var(--primary-color);
}

nav div[class="flexbox"] {
    border: .25rem solid var(--primary-color);
    background-color: var(--nav-background-color);
    font-size: 1.3rem;
    width: 75%;
}

div[class="flexbox"] a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

div[class="flexbox"] a:link, nav a:visited {
    color: var(--nav-link-color);
}

div[class="flexbox"] a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    padding: 25px;
    color: var(--primary-color);
}

footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 10rem;
}

footer nav {
    text-align: center;
}

footer a {
    text-decoration: none;
}

footer img {
    height: 2.5rem;
}

div[class="hero"] {
    margin: 10px auto;
    position: relative;
}

section h2 {
    text-align: center;
}


/* Class Selectors */

.hero h1 {
    position: absolute;
    top: 3rem;
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
    background-color: #57B8FFDD;
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top: .25rem solid var(--primary-color);
    border-bottom: .25rem solid var(--primary-color);
}

.hero article {
    width: 65%;
    position: absolute;
    top: 22rem;
    background-color: #57B8FFDD;
    padding: 1rem;
}

.hero article img {
    display: inline;
    position: relative;
    width: 4.5rem;
    height: auto;
    float: right;
    margin: .2rem;
    border: .25rem solid var(--primary-color);
}

.hero article p {
    display: inline;
    position: relative;
    text-align: center;
    font-size: 1rem;
}

.flexbox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

.history img {
    border: .25rem solid var(--primary-color);
}

.promotion {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
    text-align: center;
    margin: 1rem;
}

.promotion img {
    width: 150px;
    height: auto;
    border: .25rem solid var(--secondary-color);
}