* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
    padding: .5rem;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    margin: 0 0 1rem 1rem;
    box-shadow: 0 0 30px rgba(128, 128, 128, 1);
    float: right;
}

main p {
    padding: .8rem;
}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
    margin: 0 0 1rem 0;
}

aside h2 {
    position: absolute;
    left: 6rem;
}

footer {
    margin-top: 15px;
    border-top: 1px dotted steelblue;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    border: 5px solid #274862;
    padding: 1rem;
    background-color: #eee;
    color: #274862;
}

.indent {
    padding-left: 2rem;
}